[submodule "mod/oublog"]
	path = mod/oublog
	url = git@github.com:uofr/moodle-mod_oublog.git
[submodule "course/format/topcoll"]
	path = course/format/topcoll
	url = git@github.com:uofr/moodle-format_topcoll.git
